.panel {
	background-color: #D1DAD1;
}

.section-head {
	padding-top: 20px;
	padding-bottom: 30px;
	font-weight: bolder;
}

.tob-bar {
	background-color: #0079a1;
}
#top-panel {
	height: 80px;
}
#title-panel {
	margin-top: 20px;
	height: 240px;
}
#title {
	padding-top: 60px;
}

#name {
	font-weight: bold;
}

#job {
	font-weight: bolder;
	font-size: 30px;
}	

.project-desc {
	height: 330px;
	width: 315px;
	background-color: #FFFFFF;
}	

.project-name {
	font-size: 20px;
}
	
#contact-links img {
	padding: 23px;
}	

.desc-hover {
	background-color: #8E9B8E;
}	

